{{!< ../default}}
<div class="welcome-page-header">
    <div class="welcome-page-header-container">
        <h1 class="welcome-page-header-title"> WELCOME! 👋</h1>
        <h3 class="welcome-page-header-subtitle">Thanks for signing up</h3>
    </div>
</div>
<div class="gh-page">
    <div class="gh-container">
        <div class="welcome-page-container">

            <div class="welcome-page-membership-section-container">
                <h4 class="welcome-page-membership-section-title">You’re in! You
                    now have access to:
                </h4>
                <ul class="welcome-page-membership-section-list">
                    <li>👉 Monthly email updates about our latest projects</li>
                    <li>👉 Invitations to alpha and beta tests of our games</li>
                    <li>👉 Our community Discord — access below 👇 </li>
                </ul>
            </div>

            <div class="welcome-page-playtest-section-container">
                <h4 class="welcome-page-playtest-section-title">Private
                    Playtests
                </h4>
                <ul class="welcome-page-playtest-section-list">
                    <li>👉 Our next playtest is on
                        <strong>February 9-11, 2024.</strong></li>
                    <li>👉 By joining our discord, you may be chosen as one of
                        the first 100 people to playtest our game!</li>
                    <li>👉 Even if you’re not chosen this month, we will be
                        continuing these tests regularly, and you will be
                        helping shape The Rabbit Haul in its final production.</li>
                </ul>
            </div>

            <div class="welcome-page-discord-section-container">
                <a href="https://discord.gg/SbDnUZsdJj" target="_blank"><img
                        src="{{asset 'images/discord.webp'}}"
                        alt=""
                    /></a>
                <p class="welcome-page-discord-section-text">By signing up, you
                    agree to our
                    <a
                        href="https://docs.google.com/document/d/e/2PACX-1vR5S-t8pvE7FVnwCqL-Kcnosvdz8KbVBMAlM5NsGr45sEwJjfJIYrFrPlRErDRP_4PpprdofhL9V_v3/pub"
                        target="_blank"
                    >terms</a>.</p>
            </div>
        </div>
    </div>
</div>